<!doctype html>
<html ng-app="IPSA">
  <head>
    <meta charset="utf-8"/>
    <script src="support/js/external/jquery.min.js"></script>
    <script src="support/js/external/angular.min.js"></script>
    <script src="support/js/external/angular-animate.min.js"></script>
    <script src="support/js/external/angular-sanitize.min.js"></script>
    <script src="support/js/external/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="support/js/external/select.min.js"></script>
    <script src="support/js/external/handsontable.full.min.js"></script>
    <script src="support/js/external/ngHandsontable.min.js"></script>
    <script src="support/js/external/d3.v3.min.js" charset="utf-8"></script>
    <script src="support/js/external/d3.v4.min.js" charset="utf-8"></script>
    <script src="support/js/external/jstat.min.js" charset="utf-8"></script>
    <script src="support/js/external/d3-ease.v1.min.js"></script>
    <script src="support/js/external/lodash.min.js" charset="utf-8"></script>
    <script src="support/js/external/jquery.minicolors.min.js"></script>
    <script src="support/js/external/angular-minicolors.min.js"></script>
    <script src="support/js/external/angular-downloadsvg-directive.js"></script>
    <script src="support/js/external/ngStorage.js"></script>
    <script src="support/js/internal/PeptideAnnotator.js"></script>
    <script src="support/js/internal/controllers.js"></script>
    <script src="support/js/internal/USE.js"></script>
    <script src="support/js/internal/bundle.js"></script>
    <script src="support/js/internal/api.js"></script>
    <script src="support/js/external/d3-tip.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="support/css/external/bootstrap.min.css" rel="stylesheet">
    <link href="support/css/external/select.min.css" rel="stylesheet">
    <link href="support/css/external/handsontable.full.min.css" rel="stylesheet">
    <link href="support/css/external/jquery.minicolors.min.css" rel="stylesheet">
    <link href="support/css/external/Montserrat.css" rel="stylesheet">
    <link href="support/css/external/Open+Sans.css" rel="stylesheet">
    <link href="support/css/external/Inconsolata.css" rel="stylesheet">
    <link href="support/css/internal/PeptideAnnotator.css" rel="stylesheet">
    <link rel="icon" 
          type="image/png" 
          href="support/icon/fav_icon.png">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header"> 
        <a class="navbar-brand">
          USE (Universal Spectrum Explorer)
        </a> 
      </div>
      <ul class="nav navbar-nav" ng-controller="MasterCtrl">
        <li class="divider-vertical"></li>
        <li class=><a href="?usi=mzspec:PXD010154:01284_E04_P013188_B00_N29_R1.mzML:scan:31291:DQNGTWEM[Oxidation]ESNENFEGYM[Oxidation]K/2&fragment_tol=10&fragment_tol_unit=ppm&matching_tol=10&matching_tol_unit=ppm&ce_bottom=29">Example (USI vs Prosit)</a></li>
        <li class="divider-vertical"></li>
        <li class><a href="?usi=mzspec:PXD000966:CPTAC_CompRef_00_iTRAQ_05_2Feb12_Cougar_11-10-09.mzML:scan:12298:[iTRAQ4plex]-LHFFM[Oxidation]PGFAPLTSR/2&usibottom=mzspec:PXD000394:20130504_EXQ3_MiBa_SA_Fib-2:scan:4234:SGVSRKPAPG/2">Example (USI vs USI
            )</a></li>
        <li class="divider-vertical"></li>
        <li class>

          <a href ng-click="openHelp()">Help</a>
        </li>

        <!-- <li class="divider-vertical"></li>
          <li>
          <a class="github-button" href="https://github.com/kusterlab/ipsa" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star kusterlab/ipsa on GitHub">Star</a>
          <a>
          Please be aware that not all features have been implemented yet
          </a>
          </li> -->
      </ul>
    </nav>
    <div class="container-fluid">
      <div id = "gray-overlay">
        <div ng-controller="MasterCtrl">
            <div ng-style="{'visibility': busy.isProcessing ? 'visible' : 'hidden' }">
            <span class="progress" >
            <uib-progressbar class="{{busy.type}} " value="busy.progress" type="success" max="100">
            {{"Please wait... Loading"}}
            </uib-progressbar>
            </span>
            {{busy.loaded}}
            </div>
          <div class="row">
            <div ng-controller="PeptideCtrl">
              <div ng-controller="GraphCtrl">
                <div class="col-md-5">
                  <div class="panel panel-default">
                    <uib-tabset vertical="true" type="pills" justified="true" class="tabs-left">
                      <uib-tab heading="Top Spectrum" select="renderTable()">
                        <uib-accordion close-others="true">  
                          <div uib-accordion-group heading="Manual input" is-open="accordionTop.manual">
                            <div class="panel-body">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <label>Peptide Sequence</label>
                                    <div class="input-group-md">
                                      <input type="text" class="form-control" placeholder="Enter sequence here..." ng-model="peptide.sequence" ng-blur="validateSequence()"> 
                                    </div>
                                  </div>
                                </div>
                                <br/>
                                <div ng-controller="DataCtrl">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <label for="charge">Max Fragment Charge</label>
                                      <div class="input-group-md">
                                        <input type="number" class="form-control" id="charge" placeholder=1 min="{{peptide.fragmentMin}}" max="{{peptide.fragmentMax}}" ng-model="peptide.charge" ng-blur="validateFragmentCharge()"> 
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <label for="sequence">Precursor Charge</label>
                                      <div class="input-group-md">
                                        <input type="number" class="form-control" placeholder="2" ng-model="peptide.precursorCharge" ng-blur="validateCharge()"> 
                                      </div>
                                    </div>
                                  </div>
                                  <br/>
                                  <div ng-controller="HotCtrlTop">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <label for="handsonTable">Enter Spectral Data Here</label>
                                        <div handsontabletest id="topTable"></div>
                                      </div>
                                      <div class="col-md-12">
                                        <button class="btn btn-primary pull-right" type="button" ng-click="reset()">Clear table</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <label for="dataFormat">Select Peptide Modifications</label>
                                    </div>
                                    <div class="col-md-9">
                                      <div ng-controller="ModCtrl">
                                        <div class="form-group-lg">
                                          <ui-select multiple ng-model="modObject.selectedMods" search-enabled="true">
                                            <ui-select-match placeholder="Select peptide modifications..."> <span ng-bind="modSelectOption($item)"></span> </ui-select-match>
                                            <ui-select-choices repeat="mod in mods | filter: $select.search"> <span ng-bind="modSelectOption(mod)"></span> </ui-select-choices>
                                          </ui-select>
                                        </div>
                                      </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="openModal()">Define Mods</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div uib-accordion-group class="panel-default" heading="USI" is-open="accordionTop.usi">
                            <div class="panel-body">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <label>Search with USI</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Enter USI here..." ng-model="peptide.usi"/> <span class="input-group-btn"> <button class="btn btn-primary" type="button" ng-click="processUSI()">Get spectrum via USI</button> </span> 
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div uib-accordion-group class="panel-default" heading="External APIs" is-open="accordionTop.reference">
                            <div class="panel-body">
                              <div class="col-md-12">
                                <div ng-controller="DataCtrl">
                                  <div class="row">
                                    <div class="col-md-6 InSilicoSource">
                                      <label>Origin</label>
                                      <div class="input-group">
                                        <label class="btn btn-success active" ng-model="peptide.api" uib-btn-radio="'Prosit'" uncheckable ng-click="processPredicted()">Prosit</label>
                                        <label class="btn btn-success" ng-model="peptide.api" uib-btn-radio="'ProteomeTools'" uncheckable ng-click="processPredicted()">ProteomeTools</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6 InSilicoSourceModel" ng-style="{'visibility': peptide.api=== 'Prosit' ? 'visible' : 'hidden' }">
                                      <label>Prosit model</label>
                                      <div class="input-group">
                                        <label class="btn btn-success active" ng-model="peptide.prositModel" uib-btn-radio="'intensity_prosit_publication'">Original model (2019)</label>
                                        <label class="btn btn-success" ng-model="peptide.prositModel" uib-btn-radio="'Prosit_2020_intensity_hcd'">HLA model/HCD (2020)</label>
                                        <label class="btn btn-success" ng-model="peptide.prositModel" uib-btn-radio="'Prosit_2020_intensity_cid'">HLA model/CID (2020)</label>
										<label class="btn btn-success" ng-model="peptide.prositModel" uib-btn-radio="'Prosit_TMT_intensity_2021_HCD'">TMT model/HCD (2021)</label>
                                        <label class="btn btn-success" ng-model="peptide.prositModel" uib-btn-radio="'Prosit_TMT_intensity_2021_CID'">TMT model/CID (2021)</label>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <label>Peptide Sequence</label>
                                          <div class="input-group-md">
                                            <input type="text" class="form-control" placeholder="Enter sequence here..." ng-model="peptide.sequence" ng-blur="validateSequence()"> 
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <br/>
                                    <div class="col-md-12">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <label for="sequence">Precursor Charge</label>
                                          <div class="input-group-md">
                                            <input type="number" class="form-control" placeholder="2" ng-model="peptide.precursorCharge" ng-blur="validateCharge()"> 
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label>Collission Energy</label>
                                          <div class="input-group">
                                            <input type="number" class="form-control" ng-model="peptide.ce" min="0" />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <label for="dataFormat">Select Peptide Modifications</label>
                                        </div>
                                        <div class="col-md-9">
                                          <div ng-controller="ModCtrl">
                                            <div class="form-group-lg">
                                              <ui-select multiple ng-model="modObject.selectedMods" search-enabled="true">
                                                <ui-select-match placeholder="Select peptide modifications..."> <span ng-bind="modSelectOption($item)"></span> </ui-select-match>
                                                <ui-select-choices repeat="mod in mods | filter: $select.search"> <span ng-bind="modSelectOption(mod)"></span> </ui-select-choices>
                                              </ui-select>
                                            </div>
                                          </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" ng-click="openModal()">Define Mods</button>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <button class="btn btn-primary" type="button" ng-click="processReference()">Get Predicted/Reference Spectrum</button> 
                                        </div>
                                        <br/>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-accordion>
                      </uib-tab>
                      <uib-tab heading="Bottom Spectrum" select="renderTable(false)">
                        <uib-accordion close-others="true">  
                          <div uib-accordion-group heading="Manual input" is-open="accordionBottom.manual">
                            <div class="panel-body">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <label>Peptide Sequence</label>
                                    <div class="input-group-md">
                                      <input type="text" class="form-control" placeholder="Enter sequence here..." ng-model="peptideBottom.sequence" ng-blur="validateSequence(false)"> 
                                    </div>
                                  </div>
                                </div>
                                <br/>
                                <div ng-controller="DataCtrl">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <label for="charge">Max Fragment Charge</label>
                                      <div class="input-group-md">
                                        <input type="number" class="form-control" id="charge" placeholder=1 min="{{peptideBottom.fragmentMin}}" max="{{peptideBottom.fragmentMax}}" ng-model="peptideBottom.charge" ng-blur="validateFragmentCharge(false)"> 
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <label for="sequence">Precursor Charge</label>
                                      <div class="input-group-md">
                                        <input type="number" class="form-control" placeholder="2" ng-model="peptideBottom.precursorCharge" ng-blur="validateCharge(false)"> 
                                      </div>
                                    </div>
                                  </div>
                                  <br/>
                                  <div ng-controller="HotCtrlBottom">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <label>Enter Spectral Data Here</label>
                                        <hot-table
                                           settings="{colHeaders: true, contextMenu: false, afterInit: afterInitBottom}"
                                           stretch-h="'all'"
                                           datarows="dbBottom.items"
                                           columns="[{data:'mZ',title:'Mass To Charge',type:'numeric',format:'0,0,0.0000'},{data:'intensity',title:'Intensity',type:'numeric',format:'0,0,0.0000'}]"
                                           height="188"
                                           min-width="350"
                                           min-rows="7"
                                           min-spare-rows="0"
                                           >
                                        </hot-table>
                                      </div>
                                      <div class="col-md-12">
                                        <button class="btn btn-primary pull-right" type="button" ng-click="resetBottom()">Clear table</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <label for="dataFormat">Select Peptide Modifications</label>
                                    </div>
                                    <div class="col-md-9">
                                      <div ng-controller="ModCtrl">
                                        <div class="form-group-lg">
                                          <ui-select multiple ng-model="modObjectBottom.selectedMods" search-enabled="true">
                                            <ui-select-match placeholder="Select peptide modifications..."> <span ng-bind="modSelectOption($item, false)"></span> </ui-select-match>
                                            <ui-select-choices repeat="mod in modsBottom | filter: $select.search"> <span ng-bind="modSelectOption(mod, false)"></span> </ui-select-choices>
                                          </ui-select>
                                        </div>
                                      </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="openModal()">Define Mods</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div uib-accordion-group class="panel-default" heading="USI" is-open="accordionBottom.usi">
                            <div class="panel-body">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12">
                                    <label>Search with USI</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Enter USI here..." ng-model="peptideBottom.usi"/> <span class="input-group-btn"> <button class="btn btn-primary" type="button" ng-click="processUSI(false)">Search USI</button> </span> 
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div uib-accordion-group class="panel-default" heading="External APIs" is-open="accordionBottom.reference">
                            <div class="panel-body">
                              <div class="col-md-12">
                                <div ng-controller="DataCtrl">
                                  <div class="row">
                                    <div class="col-md-6 InSilicoSource">
                                      <label>Origin</label>
                                      <div class="input-group">
                                        <label class="btn btn-success" ng-model="peptideBottom.api" uib-btn-radio="'Prosit'" uncheckable ng-click="processPredicted(false)">Prosit</label>
                                        <label class="btn btn-success" ng-model="peptideBottom.api" uib-btn-radio="'ProteomeTools'" uncheckable ng-click="processPredicted(false)">ProteomeTools</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6 InSilicoSourceModel" ng-style="{'visibility': peptideBottom.api=== 'Prosit' ? 'visible' : 'hidden' }">
                                      <label>Prosit model</label>
                                      <div class="input-group">
                                        <label class="btn btn-success active" ng-model="peptideBottom.prositModel" uib-btn-radio="'intensity_prosit_publication'">Original model (2019)</label>
                                        <label class="btn btn-success" ng-model="peptideBottom.prositModel" uib-btn-radio="'Prosit_2020_intensity_hcd'">HLA model/HCD (2020)</label>
                                        <label class="btn btn-success" ng-model="peptideBottom.prositModel" uib-btn-radio="'Prosit_2020_intensity_cid'">HLA model/CID (2020)</label>
                                      </div>
                                    </div>
                                    <div class="col-md-12">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <label>Peptide Sequence</label>
                                          <div class="input-group-md">
                                            <input type="text" class="form-control" placeholder="Enter sequence here..." ng-model="peptideBottom.sequence" ng-blur="validateSequence(false)"> 
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <br/>
                                    <div class="col-md-12">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <label for="sequence">Precursor Charge</label>
                                          <div class="input-group-md">
                                            <input type="number" class="form-control" placeholder="2" ng-model="peptideBottom.precursorCharge" ng-blur="validateCharge(false)"> 
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label>Collission Energy</label>
                                          <div class="input-group">
                                            <input type="number" class="form-control" ng-model="peptideBottom.ce" min="0" />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <label for="dataFormat">Select Peptide Modifications</label>
                                        </div>
                                        <div class="col-md-9">
                                          <div ng-controller="ModCtrl">
                                            <div class="form-group-lg">
                                              <ui-select multiple ng-model="modObjectBottom.selectedMods" search-enabled="true">
                                                <ui-select-match placeholder="Select peptide modifications..."> <span ng-bind="modSelectOption($item, false)"></span> </ui-select-match>
                                                <ui-select-choices repeat="mod in modsBottom | filter: $select.search"> <span ng-bind="modSelectOption(mod, false)"></span> </ui-select-choices>
                                              </ui-select>
                                            </div>
                                          </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" ng-click="openModal()">Define Mods</button>
                                      </div>
                                      <br/>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <button class="btn btn-primary" type="button" ng-click="processReference(false)">Get Predicted/Reference Spectrum</button> 
                                        </div>
                                        <br/>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-accordion>
                      </uib-tab>
                      <uib-tab heading="Meta">
                        <div class="panel-body">
                          <div class="col-md-12">
                            <div ng-controller="DataCtrl">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <label>N-terminal</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="btn-group">
                                        <label class="btn btn-fragment" ng-model="checkModel.a.selected" uib-btn-checkbox>{{checkModel.a.label}}</label>
                                        <label class="btn btn-fragment" ng-model="checkModel.b.selected" uib-btn-checkbox>{{checkModel.b.label}}</label>
                                        <label class="btn btn-fragment" ng-model="checkModel.c.selected" uib-btn-checkbox>{{checkModel.c.label}}</label>
                                        <!--<label class="btn btn-fragment" ng-model="checkModel.C.selected" uib-btn-checkbox>{{checkModel.C.label}}</label>-->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <label>C-terminal</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="btn-group">
                                        <label class="btn btn-fragment" ng-model="checkModel.x.selected" uib-btn-checkbox>{{checkModel.x.label}}</label>
                                        <label class="btn btn-fragment" ng-model="checkModel.y.selected" uib-btn-checkbox>{{checkModel.y.label}}</label>
                                        <label class="btn btn-fragment" ng-model="checkModel.z.selected" uib-btn-checkbox>{{checkModel.z.label}}</label>
                                        <!--<label class="btn btn-fragment" ng-model="checkModel.Z.selected" uib-btn-checkbox>{{checkModel.Z.label}}</label>-->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <label>Neutral Losses</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="btn-group">
                                        <label class="btn btn-fragment" ng-model="checkModel.H2O.selected" uib-btn-checkbox>-H<sub>2</sub>O</label>
                                        <label class="btn btn-fragment" ng-model="checkModel.NH3.selected" uib-btn-checkbox>-NH<sub>3</sub></label>
                                        <label class="btn btn-fragment" ng-model="checkModel.CO2.selected" uib-btn-checkbox>-CO<sub>2</sub></label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <br/>
                              <div class="row">
                                <div class="col-md-6">
                                  <label>Fragment Annotation Tolerance (+/-)</label>
                                  <div class="input-group">
                                    <input type="number" class="form-control" ng-model="cutoffs.tolerance" min="0" /> <span class="input-group-btn"> <button class="btn btn-primary" type="button" ng-click="swapToleranceType()">{{cutoffs.toleranceType}}</button> </span> 
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <label>Annotation Intensity Threshold</label>
                                  <div class="input-group">
                                    <input type="number" class="form-control" ng-model="cutoffs.matchingCutoff" min="0" /> <span class="input-group-btn"> <button class="btn btn-primary" type="button" ng-click="swapMatchingType()">{{cutoffs.matchingType}}</button> </span> 
                                  </div>
                                </div>
                              </div>
                              <br/>
                              <div class="row">
                                <div class="col-md-6">
                                  <label>Peak Matching Tolerance (+/-)</label>
                                  <div class="input-group">
                                    <input type="number" class="form-control" ng-model="cutoffs.compTolerance" min="0" /> <span class="input-group-btn"> <button class="btn btn-primary" type="button" ng-click="swapCompToleranceType()">{{cutoffs.compToleranceType}}</button> </span> 
                                  </div>
                                </div>
                              </div>
                              <br/>
                              <div ng-controller="ColorCtrl">
                                <div class="row">
                                  <div class="col-md-3" ng-hide="!checkModel.a.selected">
                                    <label for="wheel-demo1">{{checkModel.a.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo1" class="form-control" type="text" ng-model="checkModel.a.color"> 
                                  </div>
                                  <div class="col-md-3" ng-hide="!checkModel.b.selected">
                                    <label for="wheel-demo2">{{checkModel.b.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo2" class="form-control" type="text" ng-model="checkModel.b.color"> 
                                  </div>
                                  <div class="col-md-3" ng-hide="!checkModel.c.selected">
                                    <label for="wheel-demo3">{{checkModel.c.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo3" class="form-control" type="text" ng-model="checkModel.c.color"> 
                                  </div>
                                  <!--
                                    <div class="col-md-3" ng-hide="!checkModel.C.selected">
                                    <label for="wheel-demo">{{checkModel.C.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo" class="form-control" type="text" ng-model="checkModel.C.color"> 
                                    </div>
                                  -->
                                  <div class="col-md-3" ng-hide="!checkModel.x.selected">
                                    <label for="wheel-demo4">{{checkModel.x.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo4" class="form-control" type="text" ng-model="checkModel.x.color"> 
                                  </div>
                                  <div class="col-md-3" ng-hide="!checkModel.y.selected">
                                    <label for="wheel-demo5">{{checkModel.y.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo5" class="form-control" type="text" ng-model="checkModel.y.color"> 
                                  </div>
                                  <div class="col-md-3" ng-hide="!checkModel.z.selected">
                                    <label for="wheel-demo6">{{checkModel.z.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo6" class="form-control" type="text" ng-model="checkModel.z.color"> 
                                  </div>
                                  <!--
                                    <div class="col-md-3" ng-hide="!checkModel.Z.selected">
                                    <label for="wheel-demo">{{checkModel.Z.label}}</label>
                                    <input minicolors="wheelsettings" id="wheel-demo" class="form-control" type="text" ng-model="checkModel.Z.color"> 
                                    </div>
                                  -->
                                  <div class="col-md-3">
                                    <label for="wheel-demo7">Precursor</label>
                                    <input minicolors="wheelsettings" id="wheel-demo7" class="form-control" type="text" ng-model="checkModel.precursor.color"> 
                                  </div>
                                  <div class="col-md-3">
                                    <label for="wheel-demo8">Unassigned</label>
                                    <input minicolors="wheelsettings" id="wheel-demo8" class="form-control" type="text" ng-model="checkModel.unassigned.color"> 
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </uib-tab>
                    </uib-tabset>
                    <div class="panel-body">
                      <div class="col-md-12">
                        <div ng-controller="DataCtrl">
                          <br/>
                          <div class="row">
                            <div class="col-md-12">
                              <button type="submit" class="btn btn-success" ng-disabled="ctrl.disableButton" ng-click="processData()">Generate Chart</button>
                              <button class="btn btn-primary" ng-click="downloadData()" ng-disabled="ctrl.disableButton">Export Data</button>
                              <button svg-download title="{{peptideBottom.sequence}}" class="btn btn-primary" ng-disabled="ctrl.disableButton">Download as SVG</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div annotated-spectrum 
                     plotdata="set.plotData" 
                     mirrorplotdata="set.plotDataBottom" 
                     peptide="set.peptide"
                     peptidebottom="set.peptideBottom" 
                     settings="set.settings" 
                     scoretop="set.scoreTop" 
                     scorebottom="set.scoreBottom" 
                     score="set.score" 
                     height="550"
                     class="content"></div>
                  <form role="form" ng-init="randomize()"></form>
                </div> 
              </div>
            </div>
          </div>
          <!--
            <div ng-style="{'visibility': busy.isProcessing ? 'visible' : 'hidden' }">
            <span class="progress" >
            <uib-progressbar class="{{busy.type}}" value="busy.progress" type="success" max="100">
            {{"Please wait... Loading"}}
            </uib-progressbar>
            </span>
            {{busy.loaded}}
            </div>
          -->
        </div>
      </div>
    </div>
  </body>
</html>
